body{
    background-color: aliceblue;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: brown;
}

/* priority */
/* external css //more priority */
/* internal css //more than external css but not prefer */
/* inlin css// more priority than external and internal but not prfer */